

/* Difult css */

*{
    margin: 0;
    padding: 0;

}
img{
    max-width: 90%;
}

/* body Font Family  */
body{
    font-family: 'Poppins', sans-serif;
}
/* First headar main css */

.first-headar{
    background-image: url(background-photo/top-banner.png);
    background-repeat: no-repeat;
}
.main-head{
    display: flex;
}

/* Headar Left css */

.headar-left{
    width: 45%;
    margin-left: 5%;
    margin-top: 30px;
}
.headar-left h1{
    font-size: 50px;
    margin-bottom: 40px;
}
.headar-left h2{
    margin-bottom: 40px;
    font-size: 45px;
}
.headar-left h2 span{
    color: orange
}
.headar-left h3{
    margin-bottom: 20px;
    font-size: 20px;
}
.headar-left p{
text-align: justify;
margin-bottom: 20px;
}
.headar-left a{
    background:linear-gradient( orange, rgb(241, 206, 91));
    color: #fff;
    padding: 5px 45px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}

/* Headar Right Css */
.headar-right{
    width: 45%;
    margin-left: 5%;
}
.headar-right img{}


/* Secend Headar css */
.secend-headar{
    background-image: url(background-photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;

}
.secend-main-headar{
    display: flex;
    margin-top: 80px;
}
.secend-left{
    width: 45%;
    margin-left: 5%;
}
.secend-left img{}
.secend-right{
    width: 45%;
    margin-top: 30px;
    margin-left: 5%;
}
.secend-right h1{
    font-size: 50px;
    margin-bottom: 40px;
}
.secend-right h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.secend-right p{
    text-align: justify;
    margin-bottom: 30px;
    margin-right: 80px;
}
.secend-right a{
    background:linear-gradient( orange, rgb(241, 206, 91));
    color: #fff;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;

}
/*  Exprience Section */
.exprience-section{
    background: url(background-photo/exp-bg.png) center left;
    background-repeat: no-repeat;
    
}
.headar-exprience{
    margin-top: 40px;
}
.headar-exprience h1{
    font-size: 40px;
}
.exprience{
    display: flex;
}
.exprience-option1{
    width: 45%;
    margin-left: 5%;
    box-shadow: 2px 3px 20px rgb(0, 0, 0, .6);
    margin-right: 80px;
    margin-bottom: 120px;
    padding: 10px 25px 50px 30px;
    margin-top: 40px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

   
}

.exprience-option1 h1{
    font-size: 35px;
    margin-bottom: 40px;
}
.exprience-option1 h3{
    margin-bottom: 20px;
}
.exprience-option1 p{
    
    text-align: justify;
}

/* Footer Section */
footer p{
    text-align: center;
    margin-bottom: 30px;
}
