

/* Difult css */

*{
    margin: 0;
    padding: 0;

}
img{
    max-width: 90%;
}

/* body Font Family  */
body{
    font-family: 'Poppins', sans-serif;
}
/* First headar main css */

.first-headar{
    background-image: url(background-photo/top-banner.png);
    background-repeat: no-repeat;
}
.main-head{
    display: flex;
}

/* Headar Left css */

.headar-left{
    width: 45%;
    margin-left: 5%;
    margin-top: 30px;
}
.headar-left h1{
    font-size: 50px;
    margin-bottom: 40px;
}
.headar-left h2{
    margin-bottom: 40px;
    font-size: 45px;
}
.headar-left h2 span{
    color: orange
}
.headar-left h3{
    margin-bottom: 20px;
    font-size: 20px;
}
.headar-left p{
text-align: justify;
margin-bottom: 20px;
}
.headar-left a{
    background:linear-gradient( orange, rgb(241, 206, 91));
    color: #fff;
    padding: 5px 45px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}

/* Headar Right Css */
.headar-right{
    width: 45%;
    margin-left: 5%;
}
.headar-right img{}


/* Secend Headar css */
.secend-headar{}
.secend-main-headar{
    display: flex;
    margin-top: 80px;
}
.secend-left{
    width: 45%;
    margin-left: 5%;
}
.secend-left img{}
.secend-right{
    width: 45%;
    margin-top: 30px;
    margin-left: 5%;
}
.secend-right h1{
    font-size: 50px;
    margin-bottom: 40px;
}
.secend-right h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.secend-right p{
    text-align: justify;
    margin-bottom: 30px;
}
.secend-right a{
    background:linear-gradient( orange, rgb(241, 206, 91));
    color: #fff;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}
